@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Colors:
#495057
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Noto Sans";
  font-size: 62.5%;
  color: #495057;
}

.app-area {
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: calc(100vh - 2.4rem);
  width: 270px;
  display: flex;
  flex-direction: column;
  padding: 2.4rem 2rem;
  background-color: #f1f3f5;
  border-radius: 15px;
  margin: 1.2rem;
}

.heading-primary {
  font-size: 2.8rem;
  padding-bottom: 2.4rem;
}

.navigation-menu {
  display: flex;
  flex-direction: column;
}

.search-container {
  position: relative;
  width: 70%;
}

.search-input {
  width: 100%;
  padding: 0.5rem 1.2rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.search-input:focus {
  border-color: #b197fc;
  box-shadow: 0 0 5px rgba(176, 151, 252, 0.8);
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;

  pointer-events: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 0;
  gap: 0.8rem;
}

.btn {
  display: inline-block;
  width: 40%;
  padding: 0.4rem 0;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: inherit;
  text-align: left;
  background-color: #f1f3f5;
  color: #343a40;
  border-radius: 10px;
  border: none;
}

.btn-icon {
  font-size: 1.4rem;
  padding-right: 0.4rem;
}

.underline-hover {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #868e96;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.underline-hover:hover::after {
  width: 100%;
  background-color: #868e96;
}

.notes-area {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 2.4rem;
  padding: 2.4rem;
  align-content: flex-start;
  justify-content: start;
  overflow-y: auto;
  max-height: 100vh;
}
.single-note {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-wrap: pretty;
  width: 30rem;
  max-height: 32rem;
  padding: 2.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  overflow-wrap: break-word;
  border-radius: 15px;
}

.heading-secondary {
  font-size: 2.8rem;
}

.note-date {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #e9ecef;
  padding: 0 0.4rem;
  border-radius: 15px;

  margin-bottom: 1.2rem;
}

.note-text {
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: justify;
}

/* MODAL SET */

.modal-window {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  width: 40rem;
  border-radius: 15px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

form label {
  font-size: 1.8rem;
  font-family: inherit;
}

form input {
  width: 80%;
  padding: 0.5rem 1.2rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s ease;
}

form input:focus {
  border-color: #b197fc;
  box-shadow: 0 0 5px rgba(176, 151, 252, 0.8);
  outline: none;
}

form textarea {
  width: 80%;
  padding: 0.5rem 1.2rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s ease;
  resize: none;
}

form input:focus,
form textarea:focus {
  border-color: #b197fc;
  box-shadow: 0 0 5px rgba(176, 151, 252, 0.8);
  outline: none;
}
.submit-note {
  width: 12rem;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 1.6rem;

  margin: 0.8rem;

  width: 3.5rem;
  height: 3.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fa5252;
  color: #fff;
  border-radius: 50%;

  transition: all 0.2s ease;

  cursor: pointer;
}

.btn-close:hover {
  background-color: #c92a2a;
}
